@import url("https://fonts.googleapis.com/css2?family=Nova+Square&family=Poppins:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Nova Square", sans-serif;
  box-sizing: border-box;
  overflow: hidden;
}
::selection {
  background-color: transparent;
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  height: 100vh;
  background-color: #222;
}
.digital_clock {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: auto;
  width: 90%;
  max-width: 600px;
  background-color: rgb(209, 209, 209);
  border-radius: 5px;
  outline: 2px solid white;
  outline-offset: 5px;
  padding: 20px 0;
  margin: 10px;
  text-align: center;
  overflow: hidden;
}
.clock_date {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-wrap: nowrap;
  flex-direction: row;
  margin-top: -10px;
  margin-bottom: 10px;
  right: 5%;
  padding: 5px;
  width: 100%;
}
.date {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  width: fit-content;
}
.date .dateText {
  font-size: 15px;
  color: #222;
  padding-inline: 2px;
  margin-inline: 2px;
  text-align: center;
}
.date #date {
  font-size: 24px;
  font-weight: bolder;
}
.clock_time {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  width: 100%;
}
.clock_time h1 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  text-align: center;
  width: 90%;
}
.clock_time h1 span {
  position: relative;
  text-align: center;
  font-size: 70px;
  font-weight: bolder;
}
h1 .time {
  width: 100px;
}
.clock_time h1 .text {
  font-size: 30px;
  font-weight: bolder;
}
.clock_time h1 #ampm {
  position: relative;
  font-size: 50px;
  text-align: left;
  padding: 10px;
  height: auto;
  width: 20%;
}
.clock_day {
  position: relative;
  border-top: 1.5px solid black;
  border-bottom: 1.5px solid black;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: nowrap;
  width: 100%;
}
.day {
  padding-inline: 20px;
  font-size: 16px;
  color: #222;
}
.day.active {
  border-inline: 2px solid black;
  color: black;
  font-weight: bolder;
  font-size: 20px;
}
